<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.youshang520i.dao.ScheduleTriggerMapper" >

  <resultMap id="BaseResultMap" type="top.youshang520i.pojo.ScheduleTrigger" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="job_group" property="jobGroup" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cron, status, job_name, job_group
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_schedule_trigger
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="queryAll" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/> FROM t_schedule_trigger
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_schedule_trigger
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.youshang520i.pojo.ScheduleTrigger" >
    insert into t_schedule_trigger (id, cron, status, 
      job_name, job_group)
    values (#{id,jdbcType=INTEGER}, #{cron,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{jobName,jdbcType=VARCHAR}, #{jobGroup,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.youshang520i.pojo.ScheduleTrigger" >
    insert into t_schedule_trigger
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cron != null" >
        cron,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="jobGroup != null" >
        job_group,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cron != null" >
        #{cron,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        #{jobGroup,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.youshang520i.pojo.ScheduleTrigger" >
    update t_schedule_trigger
    <set >
      <if test="cron != null" >
        cron = #{cron,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="jobGroup != null" >
        job_group = #{jobGroup,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.youshang520i.pojo.ScheduleTrigger" >
    update t_schedule_trigger
    set cron = #{cron,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      job_name = #{jobName,jdbcType=VARCHAR},
      job_group = #{jobGroup,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>